.App {
  width: 80%;
  margin:  10% auto;
  text-align: center;
  background: #3C6478;
  display: flex;
  flex-direction: column;
  border-radius:20px;
  color: white;
}

.App #quote-box{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App #quote-box #author{
  font-style: italic;
}

.App .quote-author {
  height: 120px;
  padding: 20px 50px;
  font-size: 1.2em;
}


.App #quote-box #new-quote{
  background: #87D68D;
  border-radius: 10px;
  border : 1px solid #87D68D;
  height: 30px;
  width : 130px;
  color: #003E1F;
  font-size: 1.2em;
}

#tweet-quote{
  padding-left: 24px;
  /* text-decoration: none; */
  /* background: #87D68D; */
  color: white;
  /* border-radius: 10px; */
  /* border : 1px solid #87D68D; */

}


.App-title {
  font-size: 2.0em;
}

.App-intro {
  font-size: large;
}
